@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200);*/

body {
/*  font-family: 'Yanone Kaffeesatz', sans-serif; */
/*  font-weight: 200; */
  font-size: 1em;
}

h1 {
  font-weight: bold;
}

code {
  display: block;
  width: 70%;
  border: 1px solid #0D6D80;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 1.0em;
  padding: 10px;
  border:1px dashed #E1E1E1;
  color:#333344;
  background:#FAFAFA;
  overflow:auto;
}

ul.tasks {
    border:1px solid red;
  list-style-type: none;
  margin: 0;
  padding: 0 0 2.5em;
  float: left;
  margin-right: 10px;
  display:block;
  min-height:20px;
  min-width:150px;
  }

ul.tasks li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
  }

tasklist {
  float: left;
}

ul#listing li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  width: 500px;
  list-style-type: none;
  }
  
code.codeline-0 {
  background-color: #F3F3F3;
  }

ol.code li code {
  padding: 5px;
  min-height: 0.75em;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; 
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /*IE*/
  font-size: 15px;
  padding: 8px;
  overflow: visible;
  line-height: normal;
}


ol.code {
  font-size: 15px;
  line-height: 0;
  }
