//@import 'reset.css';
@import '../style.css';
@import 'grid.scss';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

// header
header#top {
	margin-bottom: 1em;
  @include column(12);
}

topmenu {
  @include column(12);
  float: right;
  ul{
    @include column(9);
    float: right;
    padding:0;
    li {
//      @include column(1);
//      display: block;
      float: left;
      list-style: none;
      margin-left:20px;
    }
  }
}

// main column & sidebar
//#maincolumn {
rightblock{
	@include column(9);
}
leftblock {
//	@include column(3);
  li {
    list-style: none;
  }
}

@media screen and (max-width: 720px) {
	rightblock,
	leftblock {
		@include column(12);
		margin-bottom: 1em;
	}
}

